<div id="list">
    <canvas id="myChart4"></canvas>
    <script>
    var ctx = document.getElementById('myChart4').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ databaseTrimVersion | safe }},
            datasets: [{
                label: 'Einnahme',
                data: {{ sumArray | safe }},
                {% if final < 0 %}
                backgroundColor: [
                    'rgba(102, 150, 255)'
                ],
                borderColor: [
                    'rgba(37, 99, 235)',
                ],
                borderWidth: 3
                {% else %}
                backgroundColor: [
                    'rgba(102, 150, 255)'
                ],
                borderColor: [
                    'rgba(37, 99, 235)',
                ],
                borderWidth: 3
                {% endif %}
            }]
        },
        options: {
  plugins: {
    legend: {
      display: false
    }
  }
}
    });
    </script>
</div>
