<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!-- ... -->
</head>
<style>
  * {
    font-family: 'Roboto', sans-serif;
  }
</style>
<body class="">
  
  <div class="p-4 bg-white flex justify-between items-center shadow-md">
    <div class="headline flex items-center">
      <img class="h-12 w-12" src="./icon.png">
    </div>
    <div class="invisible md:visible">
      <a href="#" class="font-semibold hover:text-lg hover:text-green-700">Login</a>
      <a href="#" class="font-semibold hover:text-lg hover:text-green-700 ml-2">Register</a>
    </div>
    
  </div>

<div class="grid grid-cols-2">
  <div class="col-span-2 md:col-span-1 p-3 flex justify-center">
    <img src="./lightpreview.png">
  </div>
  <div class="col-span-2 md:col-span-1 p-3">
    <div class="flex flex-col h-full items-center md:items-start  justify-center">
      <h4 class="font-bold text-4xl my-2 text-black">CSN Online</h4>
      <div class="buttons flex flex-col text-center md:text-left items-center md:items-start ">
        <p class="my-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum eleifend nunc ac ultrices. Aenean in varius nunc. Ut a consequat libero. Morbi non sapien vitae est malesuada volutpat. Praesent tincidunt in tellus nec porttitor. 
        </p>
        <div class="flex gap-1">
          <button class="mt-3 flex items-center py-2 px-6 bg-black rounded-md shadow-md md:max-w-md">
            <a class="font-semibold text-white">Crear una cuenta 
            </a>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 fill-current text-white" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
          </button>
          <button class="mt-3 py-2 px-6 border hover:text-white hover:bg-black font-bold text-black border-black rounded-md shadow-md md:max-w-md">
            <a href="#" class="font-semibold">Login</a>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class=" col-span-2 flex justify-center items-center">
    <hr class=" w-3/4">
  </div>
  

  <div class="col-span-2 p-3 order-5">
    <div class="grid grid-cols-3 gap-4">
      <!--1-->
      <div class="col-span-3 lg:col-span-1 flex flex-col bg-green-50 shadow-md rounded-md p-5">
        <div class="flex items-center">
          <div class="bg-gradient-to-r from-blue-700 flex-shrink-0 h-14 flex items-center w-14 via-green-500 to-yellow-400 rounded-full p-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="fill-current w-full text-white" viewBox="0 0 20 20" >
              <path fill-rule="evenodd" d="M7 2a1 1 0 00-.707 1.707L7 4.414v3.758a1 1 0 01-.293.707l-4 4C.817 14.769 2.156 18 4.828 18h10.343c2.673 0 4.012-3.231 2.122-5.121l-4-4A1 1 0 0113 8.172V4.414l.707-.707A1 1 0 0013 2H7zm2 6.172V4h2v4.172a3 3 0 00.879 2.12l1.027 1.028a4 4 0 00-2.171.102l-.47.156a4 4 0 01-2.53 0l-.563-.187a1.993 1.993 0 00-.114-.035l1.063-1.063A3 3 0 009 8.172z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="title">
            <h3 class="font-bold mx-3 text-green-900 text-3xl">Info about subjects</h3>
          </div>
        </div>
        
        <div class="mt-3 text-green-900">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non sapien vitae est malesuada volutpat. Praesent tincidunt in tellus nec porttitor. Ut dolor tortor, suscipit ac lacus quis, tincidunt mollis nulla. Phasellus quis orci pulvinar, congue mauris non, tempor arcu. Aliquam vel urna odio. Fusce leo lorem, vehicula nec nunc sit amet, efficitur sodales nisi. Etiam tempus turpis porta, sagittis sem nec, efficitur magna. Ut sagittis eros purus. Integer placerat egestas mauris, vel dictum tortor scelerisque quis. Sed quis turpis et lacus lobortis mattis. Nunc accumsan convallis egestas.
        </div>
        <div class="flex justify-start h-full items-stretch">
          <div class="flex items-end">
            <button class="rounded-md mt-3 px-3 py-1 border-2 border-green-900 text-green-900 hover:border-0 hover:bg-green-900 hover:text-white text-lg font-semibold text-white">
              See More
            </button>
          </div>
        </div>
      </div>
      <!--2-->
      <div class="col-span-3 lg:col-span-1 flex flex-col bg-red-50 shadow-md rounded-md p-5">
        <div class="flex items-center">
          <div class="bg-gradient-to-r from-red-400 h-14 w-14 flex-shrink-0 flex items-center  via-pink-400 to-yellow-500 rounded-full p-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="fill-current text-white" viewBox="0 0 20 20">
              <path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z" />
            </svg>
          </div>
          <div class="title">
            <h3 class="font-bold mx-3 text-red-900 text-3xl">News and Blogpost</h3>
          </div>
        </div>
        
        <div class="mt-3 text-red-900">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum eleifend nunc ac ultrices. Aenean in varius nunc. Ut a consequat libero. Morbi non sapien vitae est malesuada volutpat. Praesent tincidunt in tellus nec porttitor. Ut dolor tortor, suscipit ac lacus quis, tincidunt mollis nulla. Phasellus quis orci pulvinar, congue mauris non, tempor arcu. Aliquam vel urna odio. Fusce leo lorem, vehicula nec nunc sit amet, efficitur sodales nisi. Etiam tempus turpis porta, sagittis sem nec, efficitur magna. Ut sagittis eros purus. Integer placerat egestas mauris, vel dictum tortor scelerisque quis. Sed quis turpis et lacus lobortis mattis. Nunc accumsan convallis egestas.
        </div>
        <div>
          <button class="rounded-md mt-3  px-3 py-1 border-2 border-red-900 text-red-900 hover:border-0 hover:bg-red-900 hover:text-white text-lg font-semibold text-white">
            See More
          </button>
        </div>
      </div>
      <!--3-->
      <div class="col-span-3 lg:col-span-1 flex flex-col bg-purple-50  rounded-md p-5">
        <div class="flex items-center">
          <div class="bg-gradient-to-r from-blue-700 flex-shrink-0 h-14 flex items-center w-14 via-purple-800 to-blue-800 rounded-full p-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="fill-current text-white" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="title">
            <h3 class="font-bold mx-3 text-purple-900 text-3xl">Coding and Dev</h3>
          </div>
        </div>
        
        <div class="mt-3 text-purple-900">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum eleifend nunc ac ultrices. Aenean in varius nunc. Ut a consequat libero. Morbi non sapien vitae est malesuada volutpat. Praesent tincidunt in tellus nec porttitor. Ut dolor tortor, suscipit ac lacus quis, tincidunt mollis nulla. Phasellus quis orci pulvinar, congue mauris non, tempor arcu. Aliquam vel urna odio. Fusce leo lorem, vehicula nec nunc sit amet, efficitur sodales nisi. Etiam tempus turpis porta, sagittis sem nec, efficitur magna. Ut sagittis eros purus. Integer placerat egestas mauris, vel dictum tortor scelerisque quis. Sed quis turpis et lacus lobortis mattis. Nunc accumsan convallis egestas.
        </div>
        <div>
          <button class="rounded-md mt-3  px-3 py-1 border-2 border-purple-900 text-purple-900 hover:border-0 hover:bg-purple-900 hover:text-white text-lg font-semibold text-white">
            See More
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
  

</body>
</html>