<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bg-blue-50">
    <div class="flex justify-between items-center p-6">
        <h4 class="text-3xl font-bold text-blue-900">CSN Projekt</h4>
        <div class="flex">
            <button class="py-3 px-5 bg-blue-600 text-white rounded-lg shadow-md font-semibold">
                <a href="{{url_for('history')}}">
                    Datenverlauf
                </a>
            </button>
        </div>
    </div>
    <div class="flex h-auto justify-center items-center">
        <div class="bg-white w-full m-6 lg:w-1/2 rounded-lg shadow-lg p-6">
            <form method="POST">
                <div class="flex flex-col gap-3">
                    <h4 class="text-2xl font-sans text-blue-900 font-semibold p-3">Betrag hinzufügen:</h4>
                    {{ form.hidden_tag() }}
                    {{ form.title(class="p-5 border-2 focus:border-blue-600 rounded-lg outline-none shadow-md rounded-sm focus:border", placeholder="Titel", value=toUpdate.title) }}
                    {{ form.record_in(class="p-5 border-2 focus:border-blue-600 rounded-lg outline-none shadow-md rounded-sm focus:border", value=toUpdate.record, placeholder="Betrag") }}
                    {% if toUpdate.operator == "+" %}
                    <div class="flex items-center gap-3 ml-5 font-semibold mt-3">
                        {{ form.operator(type="radio", value="+", class="transform scale-150", checked='true') }}
                        <p>Profit</p>
                    </div>
                    <div class="flex items-center gap-3 ml-5 font-semibold mb-3">
                        {{ form.operator(type="radio", value="-", class="transform scale-150 checked:bg-red-600") }}
                        <p>Verlust</p>
                    </div>
                    {% else %}
                    <div class="flex items-center gap-3 ml-5 font-semibold mt-3">
                        {{ form.operator(type="radio", value="+", class="transform scale-150") }}
                        <p>Profit</p>
                    </div>
                    <div class="flex items-center gap-3 ml-5 font-semibold mb-3">
                        {{ form.operator(type="radio", value="-", class="transform scale-150 checked:bg-red-600", checked='true') }}
                        <p>Verlust</p>
                    </div>
                    {% endif %}
                    {{ form.time(class="p-5 border-2 focus:border-blue-600 rounded-lg outline-none shadow-md rounded-sm focus:border", type="date", value=toUpdate.time) }}
                    <div class="flex gap-3 items-center mt-3">
                    {{ form.submit(class="py-3 px-5 bg-blue-600 text-white rounded-lg shadow-md font-semibold") }}
                    <div class="p-3 rounded-lg bg-red-600">
                        <a  href="{{url_for('delete', id = toUpdate.id )}}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 stroke-current text-white" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                              </svg>
                        </a>
                    
                    </div>
                        
                   
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>